.navbar{
    
    
    top:0;


}

.tableCon{
  margin-bottom: 80px;

}

.boxcon{
  box-shadow: 0 4px 8px 0 rgba(243, 238, 238, 0.2), 0 6px 20px 0 rgba(237, 236, 236, 0.19);

}

body{
    background-color: rgba(70, 85, 170,0.8);
}


@media only screen and (min-width: 320px) {

    
      .boxcon{
        margin:100px auto auto;
          width:350px;
      }

      .tableCon{
        margin: 25px ;
        
      }

      .inputbtn{
        width: 40px;
      }

      .tableele{
        min-height: 170px;
      }
    

  }







/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 480px) {
    
      .boxcon{
        margin:150px auto auto;
          width:350px;
      }

      .tableCon{
        margin: 60 px ;
        
      }

      .inputbtn{
        width: 40px;
      }

      



}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 600px) {
    
      .boxcon{
        margin:250px auto auto;
          width:600px;
      }

      .tableCon{
        margin: 20px;
       
      }

      .tableele{
        min-height: 170px;
      }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
   
    
      .boxcon{
        margin:350px auto auto ;
          width:600px;
      }

      .tableCon{
        margin-top:20px;
        margin: 25px;
       
      }

      .tableele{
        min-height: 170px;
      }


}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1000px) {

    
      .boxcon{
        margin:50px auto auto ;
          width:600px;
      }

      .tableCon{
        margin-top:20px;
        margin: 25px;
       
      }

      .tableele{
        min-height: 170px;
      }

}